################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.nuget/TypeLite.1.8.5.0.nupkg
/.vs/TypeLite/DesignTimeBuild/.dtbcache
/.vs/TypeLite/v15/Server/sqlite3/db.lock
/.vs/TypeLite/v15/Server/sqlite3/storage.ide
/.vs/TypeLite/v15/Server/sqlite3/storage.ide-shm
/.vs/TypeLite/v15/Server/sqlite3/storage.ide-wal
/.vs/TypeLite/v15/.suo
/.vs/config/applicationhost.config
/packages/EntityFramework.5.0.0/Content/App.config.transform
/packages/EntityFramework.5.0.0/Content/Web.config.transform
/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.dll
/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
/packages/EntityFramework.5.0.0/lib/net45/EntityFramework.dll
/packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
/packages
/TypeLite/bin/Release
/TypeLite/obj/Release
/TypeLite.Demo/bin
/TypeLite.Demo/obj/Release
/TypeLite.Demo/Scripts
/TypeLite.Demo.Portable/bin/Release
/TypeLite.Demo.Portable/obj/Release
/TypeLite.Net/bin/Release
/TypeLite.Net/obj/Release
/TypeLite.Net4/bin/Release
/TypeLite.Net4/obj/Release
/TypeLite.Tests/bin/Release
/TypeLite.Tests/obj/Release
/TypeLite.Tests.AssemblyWithEnum/bin/Release
/TypeLite.Tests.AssemblyWithEnum/obj/Release
/TypeLite.Tests.BackboneExtension/bin/Release
/TypeLite.Tests.BackboneExtension/obj/Release
/.vs/CMTypeLITE_1_8_4_Fork/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/TypeLite/bin/Debug
/TypeLite/obj/Debug
/TypeLite.Demo/obj/Debug/TempPE
/TypeLite.Demo/obj/Debug
/TypeLite.Demo.Portable/bin/Debug
/TypeLite.Demo.Portable/obj/Debug
/TypeLite.Net/bin/Debug
/TypeLite.Net/obj/Debug
/TypeLite.Net4/bin/Debug
/TypeLite.Net4/obj/Debug
/TypeLite.Tests/bin/Debug
/TypeLite.Tests/obj/Debug
/TypeLite.Tests.AssemblyWithEnum/bin/Debug
/TypeLite.Tests.AssemblyWithEnum/obj/Debug
/TypeLite.Tests.BackboneExtension/bin/Debug
/TypeLite.Tests.BackboneExtension/obj/Debug
/UpgradeLog.htm
/.nuget/TypeLite-CM-Fork.1.8.5.nupkg
/.nuget/TypeLite-CM-Fork.Lib.1.8.5.nupkg
/TypeLite/TypeLite.csproj.user
